@import "./variables.module.scss";

.App {
  min-height: 100vh;
  grid-gap: 20px;
  grid-template-rows: max-content;
  background-color: $background-dafault-color;
  overflow-y: hidden;
}

.tickets {
  // grid-column: 2/3;
  width: 100%;
  min-height: 184px;
  user-select: none;
  // padding: 0 20px 20px 20px;
  padding-top: 20px;
}

@media screen and (min-width: 650px) {
  .App {
    padding: 0 20px;
  }
}

@media screen and (min-width: 850px) {
  .App {
    display: grid;
    min-height: 100vh;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 20px;
    grid-template-rows: max-content;
    background-color: $background-dafault-color;
    padding: 0;
  }

  //transfer-count (aside)

  .transfer-count {
    grid-column: 1/2;
    width: 232px;
    height: 252px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: $content-block-default-color;
    user-select: none;
  }

  .transfer-count__header {
    @include transfer-count__filter--header-text;
    margin: 0;
    letter-spacing: 0.5px;
    padding: 20px 20px 5px 20px;
  }

  .transfer-count__filter {
    // list-style: none;
    margin: 0;
    padding-left: 0;
  }

  .transfer-count__filter-item {
    // height: 40px;
    // padding: 0px 20px 0px 0;
    // margin-left: 20px;
    // &:hover {
    //     background-color: $filter-hover-color;
    // }
  }

  .transfer-count__filter-checkbox {
    display: none;
  }

  .transfer-count__filter-checkbox-label {
    position: relative;
    width: 232px - 67px;
    height: 40px;
    padding: 0px 20px 0px 47px;
    @include transfer-count__filter-list--text;
    display: inline-block;
    position: relative;
    top: 9px;
    &:hover {
      cursor: pointer;
      background-color: $filter-hover-color;
    }
    &::before {
      content: "";
      display: inline-block;
      box-sizing: border-box;
      position: absolute;
      top: 9px;
      left: 20px;
      width: 20px;
      height: 20px;
      border: 1px solid $checkbox-default-color;
    }
    &::after {
      content: "";
      display: none;
      position: absolute;
      left: 25px;
      top: 10px;
      width: 8px;
      height: 12px;
      border-top: none;
      border-left: none;
      border-right: 2px solid $checkbox-checked-color;
      border-bottom: 2px solid $checkbox-checked-color;
      transform: rotate(45deg);
    }
    &:checked {
    }
  }

  .transfer-count__filter-checkbox-label-text {
    position: relative;
    left: 10px;
    top: 10px;
  }

  .transfer-count__filter-checkbox {
    &:checked {
      + .transfer-count__filter-checkbox-label {
        &:before {
          border: 1px solid $checkbox-checked-color;
        }
        &::after {
          display: inline-block;
        }
      }
    }
  }

  //TICKETS

  .tickets {
    grid-column: 2/3;
    width: 500px;
    padding: 0 20px 20px 20px;
  }
}
